*,
*:before,
*:after {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5 {
  color: #272838;
  margin: 0;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.8rem;
  line-height: 2;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2.325rem;
}
h5 {
  font-size: 2.134rem;
}
em {
  font-style: normal;
  color: #1a8fe3;
}
a {
  text-decoration: none;
  color: #f73939;
}
a:hover {
  color: rgba(247,57,57,0.8);
  border-bottom-color: #f73939;
}
p {
  color: rgba(39,40,56,0.85);
  font-size: 2rem;
}
span.strike {
  text-decoration: line-through;
}
span.heart {
  color: rgba(247,57,57,0.5);
}
img {
  max-width: 100%;
  height: auto;
}
hr {
  width: 10%;
  border: none;
  border-top: 1px solid rgba(39,40,56,0.2);
  margin: 0 auto;
}
figure {
  margin: 0;
}
figcaption {
  color: rgba(39,40,56,0.5);
}
section {
  position: relative;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'proxima-nova-soft', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.867;
}
main {
  max-width: 100%;
  padding: 1rem;
}
main header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
article h6 {
  font-weight: 600;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #272838;
  line-height: 3.6;
}
article p {
  font-size: 1.6rem;
  line-height: 2.6;
}
.work {
  margin: 5em 0;
}
.work__title {
  background-color: #fff;
  padding: 1em 0;
}
.work__title span {
  color: rgba(39,40,56,0.5);
}
.work__meta {
  width: 100%;
}
.work__meta span {
  font-size: 1.6rem;
  color: rgba(39,40,56,0.7);
}
.work__meta--item {
  margin: 2em 0;
}
.work__intro {
  display: flex;
  flex-direction: column;
  margin: 7em 0;
}
.work__tags {
  font-size: 1.4rem;
  margin: 2em 0;
  text-align: right;
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out;
}
.work__tags span {
  padding: 0.5em 0.8em;
  margin-left: 0.5em;
  border-radius: 3px;
  cursor: default;
  background-color: rgba(39,40,56,0.1);
  color: rgba(31,32,45,0.5);
}
.work__full:hover .work__tags {
  opacity: 1;
}
.work__full,
.work__half,
.work__third {
  position: relative;
  margin: 2em 0;
}
.work__half,
.work__third {
  display: flex;
  flex-direction: column;
}
.work__half .work--item {
  width: 100%;
  margin-top: 2em;
}
.work--item_icon {
  width: 42px;
  height: 42px;
  margin-bottom: 1em;
}
.work--item_icon img {
  height: 100%;
}
.work__nav {
  display: flex;
  flex-direction: column;
}
.work__nav--next,
.work__nav--prev {
  width: 100%;
  background-color: rgba(39,40,56,0.05);
  padding: 2em;
  box-sizing: border-box;
  text-align: center;
  transition: all 0.1s ease-in-out;
}
.work__nav--next h6,
.work__nav--prev h6 {
  line-height: 2;
}
.work__nav--next span,
.work__nav--prev span {
  font-size: 2.4rem;
}
.work__nav--next:hover,
.work__nav--prev:hover {
  background-color: #f73939;
}
.work__nav--next:hover h6,
.work__nav--prev:hover h6 {
  color: rgba(255,255,255,0.8);
}
.work__nav--next:hover span,
.work__nav--prev:hover span {
  color: #fff;
}
.work__nav--next {
  display: flex;
  flex-direction: column;
}
.durger,
.fries,
.drink {
  background-repeat: no-repeat;
  background-position: center;
  width: 70px;
  height: 70px;
  animation-name: fadeIn;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
  transform: scale(0);
  opacity: 0;
}
.durger {
  background-image: url("../assets/durger.svg");
  animation-delay: 0.5s;
  z-index: 10;
}
.fries {
  background-image: url("../assets/fries.svg");
  animation-delay: 1.5s;
  margin-top: -8%;
  margin-right: -17%;
  z-index: 5;
}
.drink {
  background-image: url("../assets/drink.svg");
  animation-delay: 1.5s;
  margin-left: -15%;
  margin-top: -8%;
  z-index: 5;
}
.menu--title {
  display: flex;
  justify-content: center;
  font-size: 0;
  position: relative;
  margin-top: 5%;
}
.menu--title:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgba(39,40,56,0.1);
  border-radius: 200px;
  opacity: 0;
  left: 25%;
  top: -20%;
  transform: scale(0);
  animation: fadeIn 0.5s 1s ease-in forwards;
}
nav.fullscreen-cause-why-not {
  position: absolute;
  background-color: #f73939;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 60;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  animation: nav 0.1s linear;
}
nav.fullscreen-cause-why-not li a {
  text-align: center;
  display: block;
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  position: relative;
}
nav.fullscreen-cause-why-not li a:before {
  content: "";
  width: 200px;
  height: 4px;
  background-color: #f73939;
  position: absolute;
  top: 55%;
  transform: translateX(-100%) translateY(-55%);
  transition: transform 0.15s ease-in-out;
}
nav.fullscreen-cause-why-not li a:hover:before {
  transform: translateX(0) translateY(-55%);
}
nav.fullscreen-cause-why-not li {
  animation-name: link;
  animation-timing-function: ease-in-out;
  animation-duration: 0.15s;
  animation-fill-mode: forwards;
  transform: translateX(100%);
  opacity: 0;
}
nav.fullscreen-cause-why-not li:nth-child(1) {
  animation-delay: 0.15s;
}
nav.fullscreen-cause-why-not li:nth-child(2) {
  animation-delay: 0.3s;
}
nav.fullscreen-cause-why-not li:nth-child(3) {
  animation-delay: 0.45s;
}
nav.fullscreen-cause-why-not a.message {
  display: none;
  font-size: 2rem;
  color: #fff;
  margin-bottom: 5%;
  border-bottom: 1px solid #fff;
  opacity: 0;
  animation: fadeIn 0.5s 2s ease-in forwards;
}
nav.fullscreen-cause-why-not a.message:hover {
  color: #272838;
  border-bottom-color: #272838;
}
a.menu {
  width: 34px;
  height: 30px;
  display: block;
  position: relative;
  overflow: hidden;
  transition: all 0.15s ease-in-out;
  z-index: 100;
}
a.menu span {
  display: block;
  width: 100%;
  height: 6px;
  position: absolute;
  transition: all 0.15s ease-in-out;
}
a.menu span:nth-child(1) {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 400 71%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23ffa33e;%7D.cls-2%7Bfill:%23ffb565;%7D.cls-3%7Bfill:%23fdf1e3;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Etop-bun%3C/title%3E%3Cg id=%22Layer_2%22 data-name=%22Layer 2%22%3E%3Cg id=%22iphone_4%22 data-name=%22iphone 4%22%3E%3Cpath class=%22cls-1%22 d=%22M400,35.43a35.27,35.27,0,0,1-4.45,17.21C341.72,37.29,273.81,28.18,200,28.18S58.28,37.34,4.45,52.69A35,35,0,0,1,0,35.55,35.53,35.53,0,0,1,35.29,0H364.71A35.4,35.4,0,0,1,400,35.43Z%22/%3E%3Cpath class=%22cls-2%22 d=%22M395.55,52.71A35.27,35.27,0,0,1,364.71,71H35.29A35.33,35.33,0,0,1,4.45,52.78C58.28,37.43,126.19,28.25,200,28.25S341.72,37.36,395.55,52.71Z%22/%3E%3Cpath class=%22cls-3%22 d=%22M25.3,20.84a5.47,5.47,0,1,1-8.41,7C15,25.5,13,19.34,15.35,17.41S23.37,18.52,25.3,20.84Z%22/%3E%3Cpath class=%22cls-3%22 d=%22M104,27.31A5.47,5.47,0,1,1,94.46,22c1.46-2.64,6.5-6.69,9.14-5.22S105.49,24.66,104,27.31Z%22/%3E%3Cpath class=%22cls-3%22 d=%22M149.68,5.53a5.47,5.47,0,0,1-3.4,10.39c-2.87-.94-7.79-5.12-6.85-8S146.81,4.6,149.68,5.53Z%22/%3E%3Cpath class=%22cls-3%22 d=%22M188.55,23.1A5.47,5.47,0,1,1,178.39,19c1.12-2.8,5.61-7.44,8.42-6.32S189.67,20.29,188.55,23.1Z%22/%3E%3Cpath class=%22cls-3%22 d=%22M237.46,18a5.47,5.47,0,1,1-9.1-6.06c1.67-2.51,7-6.13,9.54-4.45S239.14,15.5,237.46,18Z%22/%3E%3Cpath class=%22cls-3%22 d=%22M340.35,28.71a5.47,5.47,0,1,1-10.9-.84c.23-3,3.13-8.78,6.14-8.55S340.58,25.7,340.35,28.71Z%22/%3E%3Cpath class=%22cls-3%22 d=%22M363.79,10.81a5.47,5.47,0,1,1-9.17,6c-1.65-2.53-2.85-8.88-.32-10.52S362.14,8.27,363.79,10.81Z%22/%3E%3Cpath class=%22cls-3%22 d=%22M375.82,40.82a5.47,5.47,0,0,1-5-9.73c2.69-1.38,9.12-1.93,10.5.76S378.51,39.45,375.82,40.82Z%22/%3E%3Cpath class=%22cls-3%22 d=%22M305.43,9.28a5.47,5.47,0,1,1,10.42,3.33c-.92,2.88-5.07,7.82-7.94,6.91S304.51,12.15,305.43,9.28Z%22/%3E%3Cpath class=%22cls-3%22 d=%22M45.26,28.93a5.47,5.47,0,0,1,9.58,5.28c-1.46,2.64-6.49,6.7-9.13,5.24S43.8,31.58,45.26,28.93Z%22/%3E%3Cpath class=%22cls-3%22 d=%22M64.36,11a5.47,5.47,0,0,1,10.91-.8c.22,3-1.78,9.15-4.79,9.37S64.59,14,64.36,11Z%22/%3E%3Cpath class=%22cls-3%22 d=%22M274,28.2a5.47,5.47,0,0,1,4.15-10.12c2.79,1.15,7.39,5.68,6.24,8.47S276.78,29.35,274,28.2Z%22/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  top: 0;
}
a.menu span:nth-child(2) {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 400 71%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23ffcb31;%7D.cls-2%7Bfill:%23bf350c;%7D.cls-3%7Bfill:%23603d17;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Emid%3C/title%3E%3Cg id=%22Layer_2%22 data-name=%22Layer 2%22%3E%3Cg id=%22iphone_4%22 data-name=%22iphone 4%22%3E%3Cpath class=%22cls-1%22 d=%22M395.07,54a63.59,63.59,0,0,1-5.41,6.81,35,35,0,0,1-25,10.19H35.29A35.78,35.78,0,0,1,4.93,54Z%22/%3E%3Cpath class=%22cls-2%22 d=%22M395.31,18H4.82a2,2,0,0,1,.11-.2,37.14,37.14,0,0,1,5.41-7.21A35.36,35.36,0,0,1,35.29,0H364.71a35.53,35.53,0,0,1,30.36,17.58Z%22/%3E%3Cpath class=%22cls-3%22 d=%22M400,35.86c0,6.59-1.8,12.14-4.93,18.14H4.93C1.8,48,0,42.45,0,35.86A35.33,35.33,0,0,1,4.82,18H395.31A36.19,36.19,0,0,1,400,35.86Z%22/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  top: 50%;
  transform: translateY(-50%);
}
a.menu span:nth-child(3) {
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 400 70%22%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%23ffb565;%7D.cls-2%7Bfill:%23ffa33e;%7D.cls-3%7Bfill:%236cc247;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Ebot-bun%3C/title%3E%3Cg id=%22Layer_2%22 data-name=%22Layer 2%22%3E%3Cg id=%22iphone_4%22 data-name=%22iphone 4%22%3E%3Cpath class=%22cls-1%22 d=%22M400,35.16a33.4,33.4,0,0,1-.91,7.84H.93A33.66,33.66,0,0,1,0,35.06,35.34,35.34,0,0,1,10.34,10c.54-.53,1.09-1.09,1.66-1.59l.17,0,.18-.16h0a1.84,1.84,0,0,0-.22.17C59.07,24.9,125.87,35,200,35S340.93,24.85,387.83,8.44c.05,0,.11.09.16.07A35.47,35.47,0,0,1,400,35.16Z%22/%3E%3Cpath class=%22cls-2%22 d=%22M12.17,8.44,12,8.38l.17-.15.18.06Z%22/%3E%3Cpath class=%22cls-2%22 d=%22M388,8.38l-.16.06C340.93,24.85,274.13,35,200,35S59.07,24.9,12.17,8.49a1.89,1.89,0,0,1,.22-.18C59.28,24.66,126,34.9,200,34.9S340.77,24.67,387.66,8.3l.17-.06Z%22/%3E%3Cpath class=%22cls-3%22 d=%22M387.83,8.44C340.93,24.85,274.13,35,200,35S59.07,24.9,12.17,8.49a1.89,1.89,0,0,1,.22-.18,34.64,34.64,0,0,1,18-8A37.5,37.5,0,0,1,35.29,0H364.71a35,35,0,0,1,23,8.3Z%22/%3E%3Cpath class=%22cls-2%22 d=%22M.93,43A41.2,41.2,0,0,0,8.31,58a37.07,37.07,0,0,0,27,12H364.71a34.84,34.84,0,0,0,25-10c.72-.72,1.42-2,2.07-2a41.31,41.31,0,0,0,7.36-15Z%22/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  bottom: 0;
}
a.menu:hover {
  opacity: 0.7;
}
a.menu--active span:nth-child(1) {
  transform: rotate(-45deg);
  transform-origin: right;
}
a.menu--active span:nth-child(2) {
  transform: translateX(100%) translateY(-50%);
}
a.menu--active span:nth-child(3) {
  transform: rotate(45deg);
  transform-origin: right;
}
.logo {
  background-image: url("../assets/logo.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  width: 48px;
  height: 48px;
  display: block;
}
.logo-fade {
  width: 100%;
  animation: logo 3.5s 0.15s cubic-bezier(0.5, 0, 0, 0.96) forwards;
  opacity: 0;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translateX(-50vw) translateY(-50vh) scale(1);
}
.intro {
  padding: 3em 2em;
}
.intro a {
  border-bottom: 1px dotted rgba(247,57,57,0.3);
  transition: all 0.15s ease-in-out;
}
.intro a:hover {
  border-bottom-color: rgba(247,57,57,0.5);
}
.copy-logo h1 {
  color: #f73939;
  font-size: 3rem;
  text-align: center;
}
p.copy {
  font-family: 'proxima-nova-soft', sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  color: #272838;
  text-align: center;
}
.copy-footer {
  margin: 5em 0;
  z-index: 50;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.copy-footer span {
  font-size: 1.6rem;
  margin-top: 0.7em;
  color: rgba(39,40,56,0.6);
  letter-spacing: 0.5px;
}
a.button {
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background-color: #fff;
  padding: 0.8em 1.5em;
  border: 2px solid #eee;
  z-index: 50;
  text-decoration: none;
  color: #272838;
  position: relative;
  transition: all 0.15s ease-in-out;
}
a.button:hover {
  color: #f73939;
  border-bottom-color: #eee;
}
a.button-cta:after {
  content: "→";
  margin-left: 0.5em;
  transition: margin-left 0.15s ease-in-out;
}
section.title {
  text-align: center;
  color: #272838;
  letter-spacing: 3px;
  margin: 2em 0;
}
section.title h2:before {
  color: rgba(39,40,56,0.07);
  font-size: 7rem;
  font-family: 'proxima-nova-soft', sans-serif;
  font-weight: 700;
  line-height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
section.title h2.title--W,
section.title h2.title--A,
section.title h2.title--S {
  font-weight: 600;
  position: relative;
}
section.title h2.title--W:before,
section.title h2.title--A:before,
section.title h2.title--S:before {
  content: "W";
}
section.title h2.title--A:before {
  content: "A";
}
section.title h2.title--S:before {
  content: "S";
}
.gallery {
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.gallery-item {
  max-width: 370px;
  max-height: 400px;
  transition: all 0.15s ease-in-out;
  position: relative;
}
.gallery-item:hover {
  transform: scale(1.05);
}
.gallery-item--empty {
  border: 1px solid rgba(39,40,56,0.2);
  width: 369px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flying-balls {
  display: none;
}
.vertical-text,
.vertical-text-left {
  z-index: 20;
  display: none;
}
section.hook {
  margin: 5em 0;
  text-align: center;
}
section.top {
  display: flex;
  align-items: center;
  justify-content: center;
}
section.top a.top {
  background-color: #f73939;
  color: #fff;
}
section.about p {
  font-size: 2rem;
  line-height: 2.2;
  padding: 0.5em 0;
}
.about--group {
  padding: 2em 0;
}
.about--group ul {
  width: 100%;
}
.about--group ul li {
  font-size: 2rem;
  color: rgba(39,40,56,0.85);
}
footer {
  margin-top: 2.5em;
  padding-top: 2.5em;
  border-top: 1px solid rgba(39,40,56,0.1);
  display: flex;
  flex-direction: column;
}
footer p {
  font-size: 1.8rem;
  text-align: center;
}
.fade-in {
  animation: fadeInBody 0.3s ease-in forwards;
  opacity: 0;
}
@media screen and (min-width: 520px) {
  .content {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  hr {
    width: 3%;
    margin: 0;
  }
  figcaption {
    width: 60%;
    text-align: center;
    margin: 0 auto;
  }
  body {
    background: #fff url("../assets/bg.png") repeat;
  }
  main {
    padding: 2em;
  }
  .work__intro {
    flex-direction: row;
    justify-content: space-between;
  }
  .work__desc {
    width: 60%;
  }
  .work__meta {
    width: 18%;
  }
  .work__full,
  .work__half,
  .work__third {
    flex-direction: row;
    margin: 5em 0;
  }
  .work__half .work--item {
    width: 50%;
    margin-top: 0;
  }
  .work__half .work--item:first-child {
    margin-right: 5em;
  }
  .work__third .work--item {
    width: 33.33%;
  }
  .wrapper {
    position: relative;
  }
  .gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .gallery-item {
    margin-right: 4.5rem;
    margin-bottom: 4.5rem;
    max-width: 370px;
    max-height: 400px;
  }
  .logo {
    width: 84px;
    height: 84px;
  }
  section.intro {
    width: 70%;
    height: calc(100vh - 84px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  section.intro:before {
    content: "R";
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translateX(-50%) rotate(-90deg);
    font-size: 100rem;
    line-height: 0;
    font-weight: 700;
    color: rgba(25,25,25,0.05);
    z-index: -1;
  }
  .copy-logo h1 {
    text-align: left;
    font-size: 3.2rem;
    line-height: 3.5;
    z-index: 50;
  }
  p.copy {
    font-size: 3rem;
    text-align: left;
    z-index: 50;
  }
  .copy-footer {
    justify-content: flex-start;
  }
  .copy-footer span {
    margin-top: 0;
    margin-left: 1.2em;
  }
  .flying-balls {
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 30vh;
    transform: translateY(-50%);
    overflow: hidden;
    z-index: -1;
  }
  .flying-balls span {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 20px;
    position: absolute;
    opacity: 0.5;
  }
  .flying-balls .ball-1 {
    background-color: #f73939;
    animation: ball1 10s ease-in-out alternate infinite;
  }
@-moz-keyframes ball1 {
    0% {
      transform: translateX(715px) translateY(58px);
    }
    50% {
      transform: translateX(972px) translateY(207px);
    }
    75% {
      transform: translateX(291px) translateY(196px);
    }
    100% {
      transform: translateX(928px) translateY(53px);
    }
}
@-webkit-keyframes ball1 {
    0% {
      transform: translateX(715px) translateY(58px);
    }
    50% {
      transform: translateX(972px) translateY(207px);
    }
    75% {
      transform: translateX(291px) translateY(196px);
    }
    100% {
      transform: translateX(928px) translateY(53px);
    }
}
@-o-keyframes ball1 {
    0% {
      transform: translateX(715px) translateY(58px);
    }
    50% {
      transform: translateX(972px) translateY(207px);
    }
    75% {
      transform: translateX(291px) translateY(196px);
    }
    100% {
      transform: translateX(928px) translateY(53px);
    }
}
@keyframes ball1 {
    0% {
      transform: translateX(715px) translateY(58px);
    }
    50% {
      transform: translateX(972px) translateY(207px);
    }
    75% {
      transform: translateX(291px) translateY(196px);
    }
    100% {
      transform: translateX(928px) translateY(53px);
    }
}
  .flying-balls .ball-2 {
    background-color: #6610f2;
    animation: ball2 10s ease-in-out alternate infinite;
  }
@-moz-keyframes ball2 {
    0% {
      transform: translateX(813px) translateY(44px);
    }
    50% {
      transform: translateX(439px) translateY(152px);
    }
    75% {
      transform: translateX(791px) translateY(136px);
    }
    100% {
      transform: translateX(792px) translateY(141px);
    }
}
@-webkit-keyframes ball2 {
    0% {
      transform: translateX(813px) translateY(44px);
    }
    50% {
      transform: translateX(439px) translateY(152px);
    }
    75% {
      transform: translateX(791px) translateY(136px);
    }
    100% {
      transform: translateX(792px) translateY(141px);
    }
}
@-o-keyframes ball2 {
    0% {
      transform: translateX(813px) translateY(44px);
    }
    50% {
      transform: translateX(439px) translateY(152px);
    }
    75% {
      transform: translateX(791px) translateY(136px);
    }
    100% {
      transform: translateX(792px) translateY(141px);
    }
}
@keyframes ball2 {
    0% {
      transform: translateX(813px) translateY(44px);
    }
    50% {
      transform: translateX(439px) translateY(152px);
    }
    75% {
      transform: translateX(791px) translateY(136px);
    }
    100% {
      transform: translateX(792px) translateY(141px);
    }
}
  .flying-balls .ball-3 {
    background-color: #1a8fe3;
    animation: ball3 10s ease-in-out alternate infinite;
  }
@-moz-keyframes ball3 {
    0% {
      transform: translateX(103px) translateY(121px);
    }
    50% {
      transform: translateX(499px) translateY(159px);
    }
    75% {
      transform: translateX(341px) translateY(90px);
    }
    100% {
      transform: translateX(417px) translateY(152px);
    }
}
@-webkit-keyframes ball3 {
    0% {
      transform: translateX(103px) translateY(121px);
    }
    50% {
      transform: translateX(499px) translateY(159px);
    }
    75% {
      transform: translateX(341px) translateY(90px);
    }
    100% {
      transform: translateX(417px) translateY(152px);
    }
}
@-o-keyframes ball3 {
    0% {
      transform: translateX(103px) translateY(121px);
    }
    50% {
      transform: translateX(499px) translateY(159px);
    }
    75% {
      transform: translateX(341px) translateY(90px);
    }
    100% {
      transform: translateX(417px) translateY(152px);
    }
}
@keyframes ball3 {
    0% {
      transform: translateX(103px) translateY(121px);
    }
    50% {
      transform: translateX(499px) translateY(159px);
    }
    75% {
      transform: translateX(341px) translateY(90px);
    }
    100% {
      transform: translateX(417px) translateY(152px);
    }
}
  .flying-balls .ball-4 {
    background-color: #e6ca29;
    animation: ball4 10s ease-in-out alternate infinite;
  }
@-moz-keyframes ball4 {
    0% {
      transform: translateX(78px) translateY(33px);
    }
    50% {
      transform: translateX(565px) translateY(148px);
    }
    75% {
      transform: translateX(155px) translateY(104px);
    }
    100% {
      transform: translateX(373px) translateY(156px);
    }
}
@-webkit-keyframes ball4 {
    0% {
      transform: translateX(78px) translateY(33px);
    }
    50% {
      transform: translateX(565px) translateY(148px);
    }
    75% {
      transform: translateX(155px) translateY(104px);
    }
    100% {
      transform: translateX(373px) translateY(156px);
    }
}
@-o-keyframes ball4 {
    0% {
      transform: translateX(78px) translateY(33px);
    }
    50% {
      transform: translateX(565px) translateY(148px);
    }
    75% {
      transform: translateX(155px) translateY(104px);
    }
    100% {
      transform: translateX(373px) translateY(156px);
    }
}
@keyframes ball4 {
    0% {
      transform: translateX(78px) translateY(33px);
    }
    50% {
      transform: translateX(565px) translateY(148px);
    }
    75% {
      transform: translateX(155px) translateY(104px);
    }
    100% {
      transform: translateX(373px) translateY(156px);
    }
}
  .flying-balls .ball-5 {
    background-color: #39f768;
    animation: ball5 10s ease-in-out alternate infinite;
  }
@-moz-keyframes ball5 {
    0% {
      transform: translateX(881px) translateY(193px);
    }
    50% {
      transform: translateX(469px) translateY(68px);
    }
    75% {
      transform: translateX(984px) translateY(93px);
    }
    100% {
      transform: translateX(57px) translateY(107px);
    }
}
@-webkit-keyframes ball5 {
    0% {
      transform: translateX(881px) translateY(193px);
    }
    50% {
      transform: translateX(469px) translateY(68px);
    }
    75% {
      transform: translateX(984px) translateY(93px);
    }
    100% {
      transform: translateX(57px) translateY(107px);
    }
}
@-o-keyframes ball5 {
    0% {
      transform: translateX(881px) translateY(193px);
    }
    50% {
      transform: translateX(469px) translateY(68px);
    }
    75% {
      transform: translateX(984px) translateY(93px);
    }
    100% {
      transform: translateX(57px) translateY(107px);
    }
}
@keyframes ball5 {
    0% {
      transform: translateX(881px) translateY(193px);
    }
    50% {
      transform: translateX(469px) translateY(68px);
    }
    75% {
      transform: translateX(984px) translateY(93px);
    }
    100% {
      transform: translateX(57px) translateY(107px);
    }
}
  .vertical-text,
  .vertical-text-left {
    display: block;
    font-size: 1.2rem;
    color: #272838;
    text-transform: uppercase;
    letter-spacing: 10px;
    transform: translateY(-20%) rotate(90deg);
    position: absolute;
    top: 20%;
    right: 0;
  }
  .vertical-text:before,
  .vertical-text-left:before {
    content: "";
    display: block;
    height: 1px;
    width: 200px;
    background-color: rgba(39,40,56,0.15);
    position: absolute;
    left: -110%;
    top: 50%;
    transform: translateY(-50%);
  }
  .vertical-text-left {
    top: auto;
    left: 0;
    right: auto;
  }
  section.title {
    margin: 5em 0;
  }
  section.hook {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  section.hook .hook-inner {
    text-align: center;
    position: relative;
    max-width: 50%;
  }
  section.hook .hook-inner:before {
    content: "";
    display: block;
    background-image: url("../assets/hook.svg");
    width: 59px;
    height: 48px;
    position: absolute;
    left: 50%;
    bottom: -4em;
    transform: translateX(-50%);
  }
  .work__nav {
    flex-direction: row;
    justify-content: flex-end;
  }
  .work__nav--next,
  .work__nav--prev {
    text-align: left;
    align-items: flex-end;
  }
  nav.fullscreen-cause-why-not a.message {
    display: block;
  }
  section.about p {
    font-size: 2.5rem;
    padding: 0.5em 0;
  }
  .about--group {
    display: flex;
    width: 720px;
    padding: 2em 0;
    margin: 0 auto;
  }
  .about--group ul {
    margin-left: auto;
    width: 420px;
  }
  .about--group ul li {
    font-size: 2.5rem;
    color: rgba(39,40,56,0.85);
  }
  span.dick {
    color: transparent;
    background-color: #f73939;
    border-radius: 20px;
  }
  span.dick:hover {
    color: rgba(39,40,56,0.85);
    background-color: transparent;
  }
}
@media screen and (min-width: 1440px) {
  main {
    width: 1200px;
    margin: 0 auto;
  }
  .gallery-item:nth-child(3n) {
    margin-right: 0;
  }
}
@-moz-keyframes fadeIn {
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes fadeIn {
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes link {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes link {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-o-keyframes link {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes link {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@-moz-keyframes nav {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@-webkit-keyframes nav {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@-o-keyframes nav {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes nav {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@-moz-keyframes logo {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
@-webkit-keyframes logo {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
@-o-keyframes logo {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
@keyframes logo {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  20% {
    opacity: 1;
  }
  60% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}
@-moz-keyframes fadeInBody {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeInBody {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeInBody {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInBody {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
