.location {
  display: flex;
  align-items: center;
  gap: 0.4em;
}

.location span {
  color: var(--gray-400);
}

.status {
  width: 8px;
  height: 8px;
  position: absolute;
  right: -3px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 12px;
  background-color: #00d200;
  box-shadow: 0 0 0 2px var(--page-bg);
  animation: pulse 1.5s ease-in-out alternate infinite;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
