body {
  background-color: #f8f7f7;
}

.container {
    max-width: 588px;
    margin: 2em auto;
}

.App {
  font-family: sans-serif;
}

.text-intro {
    color: #8E8E8E;
    font-size: 2.5rem;
    max-width: 65%;
    line-height: 1.1;
    padding: 1em 0;
    letter-spacing: -1.2px;
}

.text-intro span {
    color: #434343;
}

.App ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.App ul li {
  list-style: none;
}

.App li,
.typing {
  background-color: #eaeaea;
  color: #808080;
  padding: 1.2em;
  width: fit-content;
  border-radius: 14px;
}

.App li:first-child:last-child {
  border-radius: 14px;
}

.App li:first-child {
  border-bottom-left-radius: 7px;
}

.App li:last-child {
  border-top-left-radius: 7px;
}

.typing {
  margin-top: 7px;
  border-top-left-radius: 7px;
}

.typing {
  display: flex;
  gap: 6px;
}

.typing span {
  width: 8px;
  height: 8px;
  background-color: #8e8e8e;
  display: inline-block;
  border-radius: 24px;
  animation: bounce 0.5s ease-in-out infinite alternate;
}

.typing span:nth-child(2) {
  animation-delay: 0.25s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-50%);
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  margin-top: 2em;
}

button {
  all: unset;
  padding: 0.7em 1.2em;
  background-color: white;
  border-radius: 100px;
  border: 1px solid #f0eeee;
  cursor: pointer;
  font-size: 0.9rem;
}

button:hover,
button:focus {
  background-color: #eee;
}

button:focus {
  outline: 2px;
  outline-offset: 2px;
  outline-style: solid;
  outline-color: #266efb;
}
