.container {

}

.message {
  border: 1px solid transparent;
  color: var(--gray-700);
  padding: 0.8em 1em;
  font-size: 0.9rem;
  width: fit-content;
  --chat-border-radius: 14px;
  --chat-border-radius-cutoff: calc(var(--chat-border-radius) - 10px);
  border-radius: var(--chat-border-radius);
  display: inline-block;
  line-height: 1.6;
}

.incoming .message {
  background-color: var(--chat-incoming-bg);
}

.outgoing .message {
  background-color: var(--chat-outgoing-bg);
  box-shadow: 0 3px 4px -3px rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: var(--chat-border-radius-cutoff);
  border-color: var(--gray-100);
}

.list:first-child .incoming {
  border-bottom-left-radius: var(--chat-border-radius-cutoff);
}

.list:last-child .incoming {
  border-top-left-radius: var(--chat-border-radius-cutoff);
}

.list:not(:first-child):not(:last-child) .incoming {
  border-bottom-left-radius: var(--chat-border-radius-cutoff);
  border-top-left-radius: var(--chat-border-radius-cutoff);
}

.container {
  display: flex;
  flex-direction: column;
}

.container.outgoing {
  align-items: flex-end;
}

.meta {
  display: flex;
  gap: 12px;
  font-size: 0.75rem;
  margin-top: 0.5em;
  color: var(--gray-400);
}

.meta time {
  position: relative;
}

.meta time::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -8px;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background-color: gray;
  opacity: 0.2;
  border-radius: 12px;
}
